body{
	background-color:black;
	color:red;
	text-align: center;
}
.div-un{
	background-color:white;
	width:auto;
	height:50px;
	margin-top: 10px;
	border:2px;
	
}
ul li {
	position: relative;
	list-style: none;
	float: left;
	margin-left: 50px;
	
}
ul li a{
	text-decoration: none;
	font-family: cursive;
	width:100px;
	line-height:50px;
	display: block;
	color:red;
}
ul li a:hover{
	-webkit-transforme:rotative(2deg);
} 
ul ul{
	position: absolute;
	visibility: hidden; 
}
ul ul li a{
	clear: both;
	display: block;
	background-color: white;
	width: 150px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: red;
	margin-left: -90px;

}
.div-un ul li:hover ul{
	visibility: visible;
}
